.coloredbg {
    background-color: #F5CF8F;
}
.boxes {
    width: 800px;
    height: auto;
    background-color:#FF7C70;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #D33E43; 
    overflow:auto;  
    padding: 5px; 
}
.button {
    height: 40px;
    width: 100px;
    display: inline-block;
    background-color: #D33E43;
    border-radius: 10px;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
body {
    font-family: Arial, Helvetica, sans-serif
}
.align {
    justify-content: center;
    align-items: center;
    display: flex;
} 
